@import '../../../resume-theme';

.rp-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

hr {
    width: 35%;
    margin: 30px 0px;
}


.mat-card {
    margin: 10px 10px 10px 10px;
    width: 250px;
}