<div class="padding">
  <rp-section-header title="Projects">What up this is a small exceprt that i would fill in eventualy but not today</rp-section-header>
  <div class="rp-project-content">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <mat-card>
        <mat-card-title>THE most AMAZING project</mat-card-title>
        <mat-card-subtitle>it really was great</mat-card-subtitle>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
        <mat-card-content>This is where the content would go</mat-card-content>

      </mat-card>
      <mat-card>
        <mat-card-title>The SeCoNd most amazing project</mat-card-title>
        <mat-card-subtitle>Also super great</mat-card-subtitle>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
        <mat-card-content>This is where the content would go</mat-card-content>

      </mat-card>
      <mat-card>
        <mat-card-title>This one's alright</mat-card-title>
        <mat-card-subtitle>I mean, meh.</mat-card-subtitle>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
        <mat-card-content>This is where the content would go</mat-card-content>

      </mat-card>
    </div>
  </div>
</div>