<div class="rp-container">
  <div fxLayout="column" fxLayoutAlign="start center">
    <div class="rp-project-header">Projects</div>
    <div class="rp-project-sub-header">What up this is a small excerpt that i would fill in eventurally. but not today.</div>
    <hr>
    <div class="rp-project-content" >
      <div fxLayout="row wrap" >
        <mat-card fxFlex="45%">
          <mat-card-title>THE most AMAZING project</mat-card-title>
          <mat-card-subtitle>it really was great</mat-card-subtitle>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
          <mat-card-content>This is where the content would go</mat-card-content>

        </mat-card>
        <mat-card fxFlex="45%">
          <mat-card-title>The SeCoNd most amazing project</mat-card-title>
          <mat-card-subtitle>Also super great</mat-card-subtitle>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
          <mat-card-content>This is where the content would go</mat-card-content>

        </mat-card>
        <mat-card fxFlex="45%">
            <mat-card-title>This one's alright</mat-card-title>
            <mat-card-subtitle>I mean, meh.</mat-card-subtitle>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
            <mat-card-content>This is where the content would go</mat-card-content>
  
          </mat-card>
      </div>
    </div>
  </div>
</div>