@import '../../../resume-theme';

$primary: map-get($resume-theme, primary);
$accent: map-get($resume-theme, accent);

.rp-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.rp-contact-header {
    font-size: 48px; 
    margin-bottom: 20px;
    color: mat-color($primary); 
}

.rp-contact-sub-header {
    width: 300px; 
    text-align: center;
    color: mat-color($primary, lighter); 
}

hr {
    width: 35%;
}

.rp-contact-content {
    width: 35%
}

.mat-icon {
    margin-right: 5px;
}



img {
    width: 24px;
    height: 24px;
}