<div class="rp-container">
  <div fxLayout="column" fxLayoutAlign="start center">
    <div class="rp-contact-header">Contact Info</div>
    <div class="rp-contact-sub-header">" 'Bark, bark, barkity, bark, bark - stitch'. Stitch told me he'd like it if you said that - madison'"</div>
    <hr>
    <div class="rp-contact-content" fxLayout="row wrap" fxLayoutAlign="center center">
      <a mat-button color="accent" href="https://www.linkedin.com/in/jeremy-taghizadeh">
        <img src="../../../assets/In-2C-128px-TM.png" alt="in">
        <div>Jeremy Taghizadeh</div>
      </a>
      <a mat-button color="accent"  href="mailto:jtaghiza@gmail.com">
        <mat-icon>email</mat-icon>
        <div>jtaghiza@gmail.com</div>
      </a>
      <a mat-button color="accent"  href="tel:501-425-9112">
        <mat-icon>smartphone</mat-icon>
        <div>501-425-9112</div>
      </a>
    </div>
    <hr>
  </div>
</div>