<div class="padding">
  <rp-section-header title="Contact Info">
    " 'Bark, bark, barkity, bark, bark - stitch'. Stitch told me he'd like it
    if you said that - madison"
  </rp-section-header>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <a ngStyle.xs="max-width: 100vw" mat-button color="accent" href="https://www.linkedin.com/in/jeremy-taghizadeh">
        <img src="../../../assets/In-2C-128px-TM.png" alt="in">
        <div>Jeremy Taghizadeh</div>
      </a>
      <a mat-button color="accent" href="mailto:jtaghiza@gmail.com">
        <mat-icon>email</mat-icon>
        <div>jtaghiza@gmail.com</div>
      </a>
      <a mat-button color="accent" href="tel:501-425-9112">
        <mat-icon>smartphone</mat-icon>
        <div>501-425-9112</div>
      </a>
    </div>
    <hr>
  </div>
</div>

<!-- <div class="padding">

  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <a ngStyle.xs="max-width: 100vw" mat-button color="accent" href="https://www.linkedin.com/in/jeremy-taghizadeh">
      <img src="../../../assets/In-2C-128px-TM.png" alt="in">
      <div>Jeremy Taghizadeh</div>
    </a>
    <a mat-button color="accent" href="mailto:jtaghiza@gmail.com">
      <mat-icon>email</mat-icon>
      <div>jtaghiza@gmail.com</div>
    </a>
    <a mat-button color="accent" href="tel:501-425-9112">
      <mat-icon>smartphone</mat-icon>
      <div>501-425-9112</div>
    </a>
  </div>
  <hr>

</div> -->