@import '../../../resume-theme';

.rp-section-title {
    color: mat-color($resume-color-primary, 50);
}

.rp-section-quote {
    color: mat-color($resume-color-primary, 50);    
}

hr {
    margin: 30px 0;
    width: 35%;
}

.mat-icon {
    margin-right: 5px;
}

img {
    width: 24px;
    height: 24px;
}