<!-- header -->
<div fxLayout.gt-md="row" fxLayout="column" fxLayoutAlign.lt-lg="center center">
  <div fxFlex="30"></div>
  <div fxFlex class="rp-section-subtitle">Education</div>
</div>
<!-- header -->

<!-- content -->
<div fxLayout.gt-md="row" fxLayout="column" fxLayoutAlign.lt-lg="center center" ngStyle.xs="height: 172px">
  <div fxFlex="30"></div>
  <div fxFlex="15" class="rp-exp-title" fxLayout="column" fxLayoutAlign.lt-lg="center center" fxLayoutAlign="start start"
    ngStyle.lt-lg="width: 100vw">
    <h2>University Of Arkansas</h2>
    <p>May 2015</p>
  </div>
  <div fxFlex="2"></div>
  <div ngStyle.lt-lg="width: 500px; text-align: center;" ngStyle.xs="width: 300px; text-align: center;" fxFlex.lt-lg="15"
    class="rp-exp-content" fxLayout="column" fxLayoutAlign="start start">
    <div>Bachelor of Science - Computer Science</div>
    <div fxHide.xs="true">
      For my capstone project, I designed and implemented an automated smart home with proximity activated lights,
      a stock keeping refrigerator, and a smart stove top.
    </div>
  </div>
  <div fxFlex="30"></div>
</div>
<!-- content -->