<mat-radio-group fxLayout="row" [(ngModel)]="favoriteSeason">
  <mat-radio-button  [value]="test[0]" #radioButton></mat-radio-button>
  <div fxLayout="row" fxLayoutAlign="center center" [ngStyle]="{'height.px':radioButton._elementRef.nativeElement.offsetHeight}">
    <img src="assets/line.png" style="height: 1px; width: 200px">
  </div>
  <mat-radio-button [value]="test[1]"></mat-radio-button>
  <div fxLayout="row" fxLayoutAlign="center center" [ngStyle]="{'height.px':radioButton._elementRef.nativeElement.offsetHeight}">
    <img src="assets/line.png" style="height: 1px; width: 400px">
  </div>
  <mat-radio-button [value]="test[2]"></mat-radio-button>
  <div fxLayout="row" fxLayoutAlign="center center" [ngStyle]="{'height.px':radioButton._elementRef.nativeElement.offsetHeight}">
    <img src="assets/line.png" style="height: 1px; width: 100px">
  </div>
  <mat-radio-button [value]="test[3]"></mat-radio-button>
</mat-radio-group>

{{favoriteSeason}}