@import '../../../resume-theme';

$primary: map-get($resume-theme, primary);
$accent: map-get($resume-theme, accent);

.rp-exp-header {
    font-size: 48px; 
    margin-bottom: 20px;
    color: rgb(248, 248, 248); 
}

.rp-exp-sub-header {
    width: 300px; 
    text-align: center;
    color: mat-color($primary, lighter); 
}

hr {
    width: 35%;
}

.rp-exp-content {
    width: 35%;
}

.rp-exp-edu {
    max-width: 200px;
}

.rp-exp-edu-header {
    font-size: 28px; 
    margin-bottom: 20px;
    color: mat-color($accent); 

}

.rp-exp-edu-content {
    margin-top: 20px;
    width: 400px;
}

.rp-exp-uni-title {
    font-size: 18px;
}

.rp-exp-work {
    max-width: 200px;
}

.rp-exp-work-header {
    font-size: 28px; 
    margin-bottom: 20px;
    color: mat-color($accent); 

}

.rp-exp-work-content {
    margin-top: 20px;
}

h4 {
    margin-bottom: 5px;
    margin-top: 20px;
    width: 250px;
}

p {
    margin-top: 0;
}