<div class="top-padding"></div>
<div fxLayout="column" fxLayoutAlign="start center">
  <div class="rp-exp-header">Experiences</div>
  <div class="rp-exp-sub-header">What up this is a small excerpt that i would fill in eventurally. but not today.</div>
  <hr>
  <div class="rp-exp-content">
    <div class="rp-exp-edu-header">Education</div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div style="width: 100%">
        <div fxLayout.gt-md="row" fxLayout="column">
          <div fxFlex="40">
            <h2>University Of Arkansas</h2>
            <p>May 2015</p>
          </div>
          <div fxFlex="1 1 0"></div>
          <div class="rp-exp-edu-content dont-break-out">
            <strong style="font-size: 15px;">Bachelor of Science - Computer Science</strong>
            <div>some discription of my time at college and what i did for so long at the university of arkansas madison like
              is when i am not making sense
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="rp-exp-work-header">Work Experience</div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div style="width: 100%">
        <div fxLayout.gt-md="row" fxLayout="column">
          <div fxFlex="40" >
            <h2>Dillard's Inc</h2>
            <p style="height: 1">June 2013 - August 2013</p>
          </div>
          <div fxFlex="1 1 0"></div>
          <div class="rp-exp-work-content">
            <strong style="font-size: 15px;">Intern</strong>
            <div>some discription of my time at college and what i did for so long at the university of arkansas madison like
              is when i am not making sense
            </div>
          </div>
        </div>
        <div fxLayout.gt-md="row" fxLayout="column">
          <div fxFlex="40">
            <h2>The Boeing Company</h2>
            <p>June 2013 - August 2013</p>
          </div>
          <div fxFlex="1 1 0"></div>
          <div class="rp-exp-work-content">
            <strong style="font-size: 15px;">Web developer</strong>
            <div>some discription of my time at college and what i did for so long at the university of arkansas madison like
              is when i am not making sense
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>