<div class="padding" >
  <div fxLayout="column" fxLayoutAlign="start center">
    <div class="rp-section-title">Experiences</div>
    <div class="rp-section-quote">What up this is a small excerpt that i would fill in eventurally. but not today.</div>
    <hr>
  </div>
  <div class="rp-education">
    <div fxLayout.gt-md="row" fxLayout="column" fxLayoutAlign.lt-lg="center center" >
      <div fxFlex="30"></div>
      <div fxFlex class="rp-section-subtitle">Education</div>
    </div>
    <div fxLayout.gt-md="row" fxLayout="column" fxLayoutAlign.lt-lg="center center" ngStyle.xs="height: 172px">
      <div fxFlex="30"></div>
      <div fxFlex="15" class="rp-exp-title" fxLayout="column" fxLayoutAlign.lt-lg="center center" fxLayoutAlign="start start" ngStyle.lt-lg="width: 100vw">
        <h2>University Of Arkansas</h2>
        <p>May 2015</p>
      </div>
      <div fxFlex="2"></div>
      <div ngStyle.lt-lg="width: 500px; text-align: center;" ngStyle.xs="width: 300px; text-align: center;" fxFlex.lt-lg="15" class="rp-exp-content"
        fxLayout="column" fxLayoutAlign="start start">
        <div>Bachelor of Science - Computer Science</div>
        <div fxHide.xs="true">some discription of my time at college and what i did for so long at the university of arkansas madison like is when
          i am not making sense
        </div>
      </div>
      <div fxFlex="25"></div>
    </div>
  </div>

  <div fxLayout.gt-md="row" fxLayout="column" fxLayoutAlign.lt-lg="center center" >
    <div fxFlex="30"></div>
    <div class="rp-section-subtitle">Work Experience</div>
  </div>

  <div fxLayout.gt-md="row" fxLayout="column" fxLayoutAlign.lt-lg="center center" ngStyle.xs="height: 172px">
    <div fxFlex="30"></div>
    <div fxFlex="15" class="rp-exp-title" fxLayout="column" fxLayoutAlign.lt-lg="center center" fxLayoutAlign="start start" ngStyle.lt-lg="width: 100vw">
      <h2>Dillard's Inc</h2>
      <p>June 2013 - August 2013</p>
    </div>
    <div fxFlex="2"></div>
    <div ngStyle.lt-lg="width: 500px; text-align: center;" ngStyle.xs="width: 300px; text-align: center;" fxFlex.lt-lg="15" class="rp-exp-content"
      fxLayout="column" fxLayoutAlign="start start">
      <div>Intern</div>
      <div fxHide.xs="true">some discription of my time at college and what i did for so long at the university of arkansas madison like is
            when i am not making sense
      </div>
    </div>
    <div fxFlex="25"></div>
  </div>

  <div fxLayout.gt-md="row" fxLayout="column" fxLayoutAlign.lt-lg="center center" ngStyle.xs="height: 172px">
    <div fxFlex="30"></div>
    <div fxFlex="15" class="rp-exp-title" fxLayout="column" fxLayoutAlign.lt-lg="center center" fxLayoutAlign="start start" ngStyle.lt-lg="width: 100vw">
      <h2>The Boeing Company</h2>
      <p>December 2015 - Current</p>
    </div>
    <div fxFlex="2"></div>
    <div ngStyle.lt-lg="width: 500px; text-align: center;" ngStyle.xs="width: 300px; text-align: center;" fxFlex.lt-lg="15" class="rp-exp-content"
      fxLayout="column" fxLayoutAlign="start start">
      <div>Web Developer</div>
      <div fxHide.xs="true">some discription of my time at college and what i did for so long at the university of arkansas madison like is when
        i am not making sense
      </div>
    </div>
    <div fxFlex="25"></div>
  </div>

</div>