@import '../../../resume-theme';

hr {
    width: 40%;
    margin: 30px 0
}

.rp-abilities {
    margin-bottom: 30px;
}


.rp-ab-width {
    width: 35%
}

.rp-ab-skills-header {
    font-size: 28px; 
    margin-bottom: 20px;
    color: mat-color($resume-color-accent, 800); 

}

.rp-abilities-margin {
    margin-top: 30px;
}


rp-skill {
    font-family: 'Roboto Mono', monospace;
    color: mat-color($resume-color-primary, 500);
}