@import '../resume-theme';


.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: mat-color($resume-color-primary, 800);

}

.rp-nav-main-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
    background-color: mat-color($resume-color-accent, 50);
    color: mat-color($resume-color-primary, 50);

    
}

.rp-nav-button {
    position: fixed;
    top: 15px;
    left: 10px;
    z-index: 1;
    background-color: mat-color($resume-color-accent, 50);
    color: mat-color($resume-color-primary, 50);
}