<div class="rp-container">
    <div  class="rp-intro rp-mask" fxLayout="column" fxLayoutAlign="center center">
        <span class="rp-my-name">Jeremy Taghizadeh</span>
        <hr>
        <span class="rp-my-title" >web dev</span>
    </div>
    <div class="rp-profile">
        <rp-profile></rp-profile>
    </div>
    <div class="rp-experiences">
        <rp-experiences></rp-experiences>
    </div>
    <div class="rp-abilities">
        <rp-abilities></rp-abilities>
    </div>
    <div class="rp-project">
        <rp-feature-projects></rp-feature-projects>
    </div>
    <div class="rp-contact">
        <rp-contact></rp-contact>
    </div>
</div>