<div class="rp-container">
    <div style="background-color: rgba(0, 0, 0, 0.7)" class=" rp-page-size" fxLayout="column" fxLayoutAlign="center center">
        <span style="font-size: 300%; color: white">Jeremy Taghizadeh</span>
        <hr>
        <span style="font-size: 200%;color: white">developer extrodinaire.</span>
    </div>
    <div class="rp-profile">
        <rp-profile></rp-profile>
    </div>
    <div class="rp-experiences">
        <rp-experiences></rp-experiences>
    </div>
    <div class="rp-abilities">
        <rp-abilities></rp-abilities>
    </div>
    <div class="rp-project">
        <rp-feature-projects></rp-feature-projects>
    </div>
</div>