<div style="padding-top: 50px"></div>
<div style="min-height: 500px" fxLayout="column" fxLayoutAlign="start center">
  <div style="font-size: 300%; margin-bottom: 20px">Profile</div>
  <div style="width: 300px; text-align: center;">What up this is a small excerpt that i would fill in eventurally. but not today.</div>
  <hr style="width: 35%;">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div style="max-width: 200px">
      <div style="font-size: 200%; margin-bottom: 20px">About Me</div>
      <div>Stuff about me i once did something and some other stuff lorem ipsum. That's what i'm saying though. This needs some!
        And always some sort of question so that i can have different types of punctuation?
      </div>
    </div>
    <div style="width: 300px">
      <img src="../../../assets/planet.png">
    </div>
    <div style="height: 183px; max-width: 200px">
      <div style="font-size: 200%; margin-bottom: 20px">Stats</div>
      <b> Name:</b>
      <div> Jeremy Taghizadeh </div>
      <b> Age:</b>
      <div>26</div>
      <b> Constitution:</b>
      <div>87</div>
    </div>
  </div>

</div>