@import '../../../resume-theme';


hr {
    width: 35%;
    margin: 30px 0px 30px 0px;
}

padding

.rp-profile-container {
    min-height: 500px;
}

.rp-profile-width {
    width: 35%;
}

.rp-profile-about-me {
    max-width: 200px;
    margin-top: 20px;
    margin-right: 15px;
}

.rp-profile-content {
    color: mat-color($resume-color-primary, 400);
    font-family: 'Roboto Mono', sans-serif;
    font-size: 15px;
    line-height: 1.6em;
    font-weight: 400;
    letter-spacing: normal;
}

.rp-profile-picture-circle {
    background-color: mat-color($resume-color-primary, 200);
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    margin: 20px 15px 20px 15px;
}

.rp-profile-stats {
    height: 183px; 
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 15px;
}

b {
    color: mat-color($resume-color-primary, 400);
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
    line-height: 1.6em;
}

img {
    width: 240px; 
    height: 240px;
}