<div class="top-padding"></div>
<div class="rp-profile-container" fxLayout="column" fxLayoutAlign="start center">
  <div class="rp-profile-header">Profile</div>
  <div class="rp-profile-sub-header">What up this is a small excerpt that i would fill in eventurally. but not today.</div>
  <hr>
  <div class="rp-profile-content" fxLayout.gt-md="row" fxLayout="column" fxLayoutAlign.gt-md="center start" fxLayoutAlign="center center">
    <div class="rp-profile-about-me">
      <div class="rp-profile-about-me-header">About Me</div>
      <div class="rp-profile-about-me-content">Stuff about me i once did something and some other stuff lorem ipsum. That's what i'm saying though. This needs some!
        And always some sort of question so that i can have different types of punctuation?
      </div>
    </div>
    <div class="rp-profile-picture-circle" fxLayout="row" fxLayoutAlign="center center">
      <img src="../../../assets/Untitled-3.png">
    </div>
    <div class="rp-profile-stats" fxLayout="column"  >
      <div class="rp-profile-stats-header" >Stats</div>
      <b> Name:</b>
      <div class="rp-profile-stats-content"> Jeremy Taghizadeh </div>
      <b> Age:</b>
      <div class="rp-profile-stats-content">26</div>
      <b> Constitution:</b>
      <div class="rp-profile-stats-content">87</div>
    </div>
  </div>
</div>