@import '../../../resume-theme';


hr {
    width: 40%;
    margin: 30px 0px;
}


.rp-profile-about-me {
    width: 250px;
    height: 250px;
}

.rp-profile-picture-circle {
    background-color: mat-color($resume-color-primary, 200);
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
}

.rp-profile-stats {
    width: 250px;
    height: 250px;
    
}

.rp-profile-content {
    color: mat-color($resume-color-primary, 400);
    font-family: 'Roboto Mono', sans-serif;
    font-size: 15px;
    line-height: 1.6em;
    font-weight: 400;
    letter-spacing: normal;
}

b {
    color: mat-color($resume-color-primary, 400);
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
    line-height: 1.6em;
}

img {
    width: 240px; 
    height: 240px;
}