@import '~@angular/material/theming';

$resume-primary: mat-palette($mat-blue-grey, 700, 200, 900);
$resume-accent: mat-palette($mat-orange, 800, 200, A700);
$resume-warn: mat-palette($mat-red);

$resume-theme: mat-light-theme($resume-primary, $resume-accent, $resume-warn);



