@import "resume-theme";

@include mat-core();
@include angular-material-theme($resume-theme);

.padding {
    padding-top: 50px;
    padding-bottom: 60px;
}

body {
    margin: 0;
    height: 100%;
}

app-root {
    display: block;
    height: 100%;
    width: 100%;
}

.dont-break-out {
    white-space: normal;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  
}

.rp-section-title {
    font-size: 54px;
    margin-bottom: 15px;
    color: mat-color($resume-palette-accent, 50);
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 300;
}

.rp-section-quote {
    width: 300px;
    text-align: center;
    color: mat-color($resume-palette-primary, 300);
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 100;
    font-size: 17px;
}

.rp-section-subtitle {
    font-size: 28px;
    margin-bottom: 15px;
    color: mat-color($resume-palette-accent, 50);
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 300;
}